@import "../../vars.css";

.container {
    background-color: #11225e;
    border-radius: 15px;
    padding: 20px;
    width: 280px;
    margin-top: 30px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .container:hover {
    transform: scale(1.03);
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .title {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
    color: var(--color-text);
  }
  
  .provider,
  .date {
    font-size: 14px;
    color: var(--color-subtext);
    margin: 5px 0;
  }
  
  .link {
    margin-top: 10px;
    display: inline-block;
    color: var(--color-accent);
    text-decoration: underline;
  }
  